body {
  margin: 0; /* jarak luar*/
}
nav {
  display: flex; /* mensejajarkan*/
  justify-content: space-between; /* space-beetwen jarak antara*/
}
nav ul {  /* ul itu list/daftar*/
  display: flex;
  list-style: none;
  gap: 1rem;  /* jarak antar item*/
}
nav a {
  text-decoration: none;  /* menghilangkan garis bawah*/
  color: white;
}
header {
  background-color: rgb(74, 58, 61); 
  color: white;
  padding: 1rem;
}
nav a:hover {
  color: rgb(220, 83, 106);
}
.hero{
  display: flex;
  justify-content: center; /* mengatur perataan secara horizontal _____*/
  align-items: center;  /* mengatur perataan secara vertikal  |  */
   background-color: rgb(235, 208, 217);
   padding: 3rem;
}
.hero img{
  width: 150px;  /* lebar*/
  height: 150px;  /* tinggi*/
  border-radius: 100%;  /* melingkarkan */
  margin-right: 2rem;
}
.pr {
  margin-left: 3rem;
}
.pr{
  background-color: white;
  
}
.kk{
  margin-left: 3rem;
}
.skill-grid {
  display: grid;  /* menata elemen ke dalam baris/kolom*/
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
  margin-left: 2rem; /* jarak sisi kiri*/
  margin-right: 2rem;  /* jarak sisi kanan*/
}

.skill {
  background-color: #ddd;
  padding: 1rem;  /* jarak antara luar element*/
  text-align: center;
  border-radius: 8px;  
}
.project-card {
  background-color: #ffcdf0;
  padding: 1rem;
  border-left: 5px solid #e90ca3;
  border-radius: 5px;
  margin-top: 1rem;
  margin-left: 2rem;
}
.social-icons i {
  font-size: 2rem;
  margin-right: 15px;
  color: #444;
  transition: 0.3s;
}

.social-icons i:hover {
  color: #007bff;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  margin-top: 2rem;
}
